*{
    margin: 0px;
    padding: 0px;
}
footer{
    width: 100%;
    height: 100vh;
}
footer h1 {
    font-size: 22pt;
    text-align: center;
    margin-left: -4%;
    margin-top: 80px;
}
section{
    display: inline-block;
}
.div1{
    display: inline-flex;
    align-items: center;
    margin-left: 15%;
}
.div1 h1{
    font-size: 13pt;
    width: 350px;
   
}
.div1 h1 a{
    list-style: none;
    color: black;
}
.div1 h1 a:hover{
    color: gold;
}
.div2 {
    display: inline-flex;
    align-items: center;
    margin-left: 15%;
}